<h2 class="mt-5">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<div class="row align-items-center">
  <div class="col-lg-6">
    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="avatar-upload">
        <%= f.input :avatar,
                    as: :file,
                    required: true,
                    input_html: {style: 'display:none'},
                    image_preview: true %>
        <label for="user_avatar">
          <%= image_tag 'upload_image.png', id: "replace_avatar_preview", class: "img-fluid rounded-circle image-center"%>
        </label>
      </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary ml-3"%>
  </div>
</div>
<% end %>

<script>
function showImage(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#replace_avatar_preview')
        .attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
$('#user_avatar').on('change', function() {
    showImage(this);
})
</script>