<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.full_messages.to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <%= f.input :title,
                  required: true,
                  autofocus: true%>
      <%= f.input :content,
                  required: true,
                  autofocus: true,
                  as: :text%>
      <%= f.input :category,
                  required: true,
                  autofocus: true%>
      <%= f.input :photoblog,
                  as: :file,
                  required: true,
                  image_preview: true %>
      <div>
        <img id="preview_article_photoblog">
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  function showImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#preview_article_photoblog')
          .attr('src', e.target.result)
          .width(150)
          .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  $('#article_photoblog').on('change', function() {
      showImage(this);
  })
</script>
