<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.full_messages.to_sentence if f.object.errors[:base].present? %>
  <div class="row align-items-center">
    <div class="col-lg-6 align-self-start">
      <div class="form-inputs">
          <%= f.input :title,
                      required: true,
                      autofocus: true%>
          <%= f.input :category,
                      required: true,
                      autofocus: true%>
          <div class="photoblog-upload">
            <%= f.input :photoblog,
                        as: :file,
                        required: true,
                        input_html: {style: 'display:none'},
                        image_preview: true %>
            <label for="article_photoblog">
              <%= image_tag 'upload1.png', id: "replace_avatar_preview", class: "img-fluid photoblog-resize"%>
            </label>
          </div>
          <div>
            <img id="preview_article_photoblog">
          </div>
      </div>
    </div>
    <div class="col-lg-6 align-self-start">
      <%= f.input :content,
                  required: true,
                  autofocus: true,
                  input_html: { style: "height:576px;" },
                  as: :text%>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary "%>
    <%= link_to 'Back', user_root_path, class: "btn btn-secondary ml-2"%>
  </div>
<% end %>

<script>
  function showImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#replace_avatar_preview')
          .attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  $('#article_photoblog').on('change', function() {
      showImage(this);
  })

  $('#article_content').each(function () {
    this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
  }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
  });
</script>
