<% if current_user.articles.empty? %>
  <div class="row justify-content-center">
      <div class="col-md-12 text-center">
          <span class="display-1 d-block">Oops...!</span>
          <div class="mb-4 lead">No Article found! Create some interesting articles.</div>
          <%= link_to 'Create Article', new_article_path, class: "btn btn-outline-primary"%>
      </div>
  </div>
<% else%>
  <div class="row">
    <div class="col-md-8">
      <h1 class="my-4">
      <% if @user_profile_flag %>
        <%= @user.username %>'s Articles
      <% else %>
        My Articles's
      <%end%>
        <%# <small>Secondary Text</small> %>
      </h1>
      <% @articles.each do |article|%>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x200" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%= article.title%></h2>
            <p class="card-text"><%= truncate(article.content, length: 250)%></p>
            <%= link_to 'Read more', article_path(article.id), class: "btn btn-primary"%>
          </div>
          <div class="card-footer text-muted">
            Posted on <%= article.created_at.strftime("%B %d, %Y")%> 
          </div>
        </div>
      <% end%>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-append">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
<% end %>
